{% extends 'page.html' %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Update URI') }}{% endblock %}
{% block breadcrumb_content %}
  <li><a href="{{ h.url_for(controller='uri_minter', action='list') }}">{{ _('URIs') }}</a></li>
  <li class="active"><a href="#">{{ _('Edit') }}</a></li>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('URIs for use in linked datasets') }}</h2>
    <div class="module-content">
        <p>
            {% trans %}
                Uniform Resource Identifiers (URIs) may be minted to represent new entities in linked datasets.
            {% endtrans %}
        </p>
    </div>
  </section>
{% endblock %}

{% block primary_content %}
    <form method="POST">
        {{ form.errors(error_summary) }}

        <fieldset>
            <legend>{{_('Update URI')}}</legend>
            {{ form.input('type',
                label=_("Type"),
                type="text",
                value=data.type,
                error=errors.type,
                classes=["control-medium"],
                attrs={"autocomplete": "off", "disabled": "disabled"})
            }}

            {{ form.input('name',
                label=_("Entity name"),
                type="text",
                value=data.name,
                error=errors.name,
                classes=["control-medium"],
                attrs={"autocomplete": "off"})
            }}

            {{ form.info(_('Only tick this box if the entity that this URI represents is changing its remit or purpose.'), classes=['info-help-tight', 'small', 'bold']) }}
            {{ form.checkbox('regenerate',
                label=_("Regenerate URI?"),
                checked=data.regenerate,
                classes=[""])
            }}

        </fieldset>
        <div class="form-actions">
            <a class="btn" href="/uri/">{{_('Cancel')}}</a>
            <button class="btn btn-primary" type="submit">{{_('Submit')}}</button>
        </div>
    </form>
{% endblock %}
