{% extends "page.html" %}

{% block subtitle %}{{ _('All URIs') }}{% endblock %}

{% set is_admin = g.userobj.sysadmin %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('URIs'), named_route='uri_minter.list') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block page_primary_action %}
        <div class="page_primary_action">
          {% link_for _('Mint new URI'), named_route='uri_minter.new_uri', class_='button', icon='plus-square' %}
        </div>
      {% endblock %}
      <h1 class="page-heading">
        {% block page_heading %}{{ _('URIs') }}{% endblock %}
      </h1>
      {% block uri_list %}
        {% if page.item_count %}
        <dl>
          {% block uri_list_inner %}
            {% for uri in page.items %}
                <dd style="margin-bottom: 20px;">
                  <dl>
                    <dd><span>{{uri['uri']}}</span></dd>
                    <dd>Type: {{uri['type']}}</dd>
                    <dd>Name: {{uri['name']}}</dd>
                    <dd>
                      <span class='dataset-subheading'>
                        <span class='dataset-date-created'>Created {{ h.render_datetime(uri['created_at']) }}</span>
                        {% if uri['updated_at'] %}
                        <span class='dataset-date-separator'>&bull;</span>
                        <span class='dataset-date-updated'>Updated {{ h.render_datetime(uri['updated_at']) }}</span>
                        {% endif %}
                        {% if is_admin %}
                          {% link_for _('Edit'), named_route='uri_minter.edit_uri', uri_id=uri['id'] %}
                        {% endif %}
                      </span>
                    </dd>
                  </dl>
                </dd>
            {% endfor %}
          {% endblock %}
        </dl>
        {% else %}
            No URIs found
        {% endif %}
      {% endblock %}
    </div>
    {% block page_pagination %}
      {{ page.pager(q=q, order_by=order_by) }}
    {% endblock %}
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'uris/snippets/uri_search.html', q=q %}
{% endblock %}
